<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

  <div class="sidenav">

    <a><img src="subject_black_24dp.svg"> 1805235 </a>
    <a href="/"><img src="home_black_24dp.svg">Home</a>
    <a href="/about"><img src="face_black_24dp.svg">About</a>
  </div>

<div class="main">
    <h3 class="heading">About ME</h3>

    <div class="box1">
      <h5 >Name: Raushan Kumar</h5>
      <h5 >Roll: 1805235</h5>
      <h5 >GitHub: <a href="https://github.com/krraushan056"> Click Here</a></h5>
      <h5 >Skills:</h5> <p class="skill"><span>C,C++  Java Python ,JDBC, Java-Script, Machine Learning</span> 
        <span>HTML, Bootstrap, SQL, React, CSS, Node.js, Sikit Learn, Tensorflow, Numpy, Pandas, MatPlotlib</span> 
        <span>Deep and Tranfer Learning, OpenCV, BASIC NLP, Git/GitHub, Mongo DB</span></p>
        <h5 >For Projects: <a href="http://krraushan.herokuapp.com/"> Visit Here</a></h5>
      
        
    </div>
</div>

</div>
   
</body>
</html> 